<%- include ('partials/header') %>


<div class='jumbotron'>
<h1>WELCOME TO USERSTORE</h1>
</div>


<a href='api/user' class='btn btn-lg btn-primary '>SHOW ALL USER</a>
<a href ='api/' class='btn btn-lg btn-secondary'>ADD NEW USER</a>




<%- include ('partials/footer') %>
